@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Brand */
  --color-primary: #0f766e;
  --color-secondary: #14b8a6;
  --color-accent: #2dd4bf;

  /* Backgrounds */
  --color-bg: #f0fdfa;
  --color-card: #ffffff;
  --color-border: #ccfbf1;

  /* Text */
  --color-text: #042f2e;
  --color-text-muted: #5f9ea0;

  /* Status */
  --color-success: #16a34a;
  --color-warning: #f59e0b;
  --color-danger: #dc2626;

  --color-text: #042f2e;
  --color-text-body: #115e59;
}

.dark {
  --color-primary: #5eead4;
  --color-secondary: #2dd4bf;
  --color-accent: #14b8a6;

  --color-bg: #0a3b3b;
  --color-card: #134e4a;
  --color-border: #115e59;

  --color-text: #f0fdfa;
  --color-text-body: #ccfbf1;
  --color-success: #22c55e;
  --color-warning: #fbbf24;
  --color-danger: #f87171;
}
.anchor {
  @apply font-bold hover:opacity-60 transition ease-in-out;
}
.btn-shadow {
  @apply shadow-[1px_1px_2px_#000000] dark:shadow-[1px_1px_2px_#0a3b3b];
}
